body {
    background-image: url("img/bg2_1920x1200.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 90%;
    margin: auto;
}

.logo {
    padding-top: 1rem;
}

img {
    vertical-align: middle;
}

.counter {
    font-size: 2rem;
    color: white;
}

#counter_number {
    font-size: 2rem;
    color: white;
    background-color: orange;
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    border-radius: 50%;
    text-align: center;

}